span(ng-if='layoutType == "grid"')
  .timeline.timeline--grid(
    infinite-scroll='tweets.nextPage()',
    infinite-scroll-distance='2',
    infinite-scroll-disabled='tweets.busy',
    masonry='masonry',
    preserve-order,
    load-images="true"
    )
    .masonry-brick.timeline__post.timeline__post--grid(ng-repeat='tweet in tweets.items')
      include ../post/_grid
  .loading-bar.loading-bar--grid
    include ../loader/_loading_fin
